{% load static %}

<div class="fixed bottom-0 z-50 w-full h-12 -translate-x-1/2 flex border-gray-200 left-1/2 bg-amber-200 justify-around items-center">
    <div>
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}">&laquo;</a>
        {% endif %}

        <span class="">strona {{ page_obj.number }} z {{ page_obj.paginator.num_pages }}</span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">&raquo;</a>
        {% endif %} 
    </div>
    <div>
        <button type="button" class="text-sm">
            <a href="{% url 'wine-create' %}">{{ add_btn_text }}</a>
        </button>
    </div>
</div>
