{% load crispy_forms_tags %}

<div class="border rounded-lg mt-3 shadow">
    <div class="bg-amber-200 text-center py-1">
        <button class="text-md" onclick="toggleFilters()">Filtruj</button>
    </div>
    <div id="filters-form-div" class="mt-2 px-1 mb-10" hidden>
        {# TODO: hydrate with params after submitting and re-rendering #}
        {% csrf_token %}
        {% crispy form %}
    </div>

    <script>
        const filtersFormDiv = document.getElementById("filters-form-div");
        function toggleFilters() {
            filtersFormDiv.hidden = !filtersFormDiv.hidden;
        }

        const clearParamsBtn = document.getElementById('clear-params');
        clearParamsBtn.addEventListener('click', (_) => {
            location.href = '{% url "bottle-list" %}';
        });

        const form = document.getElementById('filter-form');
        form.addEventListener('submit', e => {
            e.preventDefault();
            const formData = new FormData(e.target);
            const filters = new URLSearchParams();
            formData.forEach((value, field) => {
                if (value) {
                    filters.set(field, value);
                }
            });
            let redirectUrl = '{% url "bottle-list" %}';
            if (filters.size) {
                redirectUrl += '?' + filters.toString();
            }
            console.log(redirectUrl);
            location.href = redirectUrl;
        });

        function hydrateFiltersForm() {
            const paramsString = location.href.split('?');
            if (paramsString.length !== 2) return;

            const filters = new URLSearchParams(paramsString[1]);
            filters.forEach((value, field, _) => {
                const input = form.elements.namedItem(field);
                console.log(input);
                input.value = value;
            });
        }

        window.onload = function () {
            hydrateFiltersForm();
        };
    </script>
</div>
