{% extends 'base.html' %}

{% block body %}
    {% include 'partials/search_bar.html' %}

    <div class="mx-auto w-full text-center">
        {% if bottles|length %}
            <div class="mt-4 grid grid-cols-2 md:grid-cols-3 lg:grid-cols-5 gap-3 mx-auto mb-16 justify-items-center text-center">
                {% for bottle in bottles %}
                    {% include 'partials/bottle_card.html' with bottle=bottle %}
                {% endfor %}
            </div>
        {% else %}
            <h3 class="text-xl mt-3">Brak butelek do wyświetlenia</h3>
        {% endif %}
    </div>

    {% include 'partials/bottom_bar.html' %}
{% endblock %}