{% extends "base.html" %}
{% load static %}

{% block title %}
    {{ bottle.wine.name }}
{% endblock %}

{% block body %}
    <div class="justify-center my-4">
        {% if bottle.image %}
            <img
                    class="rounded-lg object-scale-down mx-auto"
                    src="{{ bottle.image.url }}"
                    alt="Nie można wyświetlić zdjęcia"
            >
        {% endif %}

        <div class="mb-3 mt-4 rounded-xl border py-3 px-5 shadow space-y-1 bg-amber-50">
            <div class="flex justify-between items-center pb-1">
                <h2 class="font-bold text-xl">Wino</h2>
                <a href="{% url 'wine-update' bottle.wine.pk bottle.pk %}">
                    <div class="max-w-fit border p-1.5 rounded-lg bg-amber-200">
                        <svg
                                xmlns="http://www.w3.org/2000/svg"
                                fill="none"
                                viewBox="0 0 24 24"
                                stroke-width="1.5"
                                stroke="currentColor"
                                class="size-5">
                            <path
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10"/>
                        </svg>
                    </div>
                </a>
            </div>

            <hr class="py-1">

            <p>
                <span class="font-bold">Smak:</span>
                {{ bottle.wine.get_taste_display }}
            </p>
            <p>
                <span class="font-bold">Typ:</span>
                {{ bottle.wine.get_kind_display }}
            </p>
            <p>
                <span class="font-bold">Producent:</span>
                {{ bottle.wine.producer }}
            </p>
            <p>
                <span class="font-bold">Nazwa:</span>
                {{ bottle.wine.name }}
            </p>
            <p>
                <span class="font-bold">Szczep:</span>
                {{ bottle.wine.type }}
            </p>
            <p>
                <span class="font-bold">Kraj pochodzenia:</span>
                {{ bottle.wine.get_country_display }}
            </p>
        </div>

        <div class="my-3 rounded-xl border py-3 px-5 shadow space-y-1 bg-amber-50">
            <div class="flex justify-between items-center pb-1">
                <h2 class="font-bold text-xl">Butelka</h2>
                <a href="{% url 'bottle-update' bottle.pk %}">
                    <div class="max-w-fit border p-1.5 rounded-lg bg-amber-200">
                        <svg
                                xmlns="http://www.w3.org/2000/svg"
                                fill="none"
                                viewBox="0 0 24 24"
                                stroke-width="1.5"
                                stroke="currentColor"
                                class="size-5">
                            <path
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10"/>
                        </svg>
                    </div>
                </a>
            </div>
            <hr class="py-1">

            <p>
                <span class="font-bold">Rok butelkowania:</span>
                {{ bottle.year }}
            </p>
            <p>
                <span class="font-bold">Ocena:</span>
                {{ bottle.score }}/10
            </p>
            <p>
                <span class="font-bold">Opis:</span>
                {{ bottle.description|default:'brak' }}
            </p>
        </div>

        <div class="my-3 rounded-xl border py-3 px-5 shadow space-y-1 bg-amber-50">
            <div class="flex justify-between items-center pb-1">
                <h2 class="text-center font-bold text-xl">Informacje o zakupie</h2>
                <a href="{% url 'purchase-info-create' bottle.pk %}">
                    <div class="max-w-fit border p-1.5 rounded-lg bg-amber-200">
                        <svg
                                xmlns="http://www.w3.org/2000/svg"
                                fill="none"
                                viewBox="0 0 24 24"
                                stroke-width="1.5"
                                stroke="currentColor"
                                class="size-5">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
                        </svg>
                    </div>
                </a>
            </div>
        
            {% for purchase_info in bottle.purchases.all %}
                <hr class="py-1">
                <div class="flex items-end justify-between">
                    <div>
                        <p>
                            <span class="font-bold">Nazwa sklepu:</span>
                            {{ purchase_info.shop_name }}
                        </p>
                        <p>
                            <span class="font-bold">Cena:</span>
                            {{ purchase_info.price }} zł
                        </p>
                        <p>
                            <span class="font-bold">Data zakupu:</span>
                            {{ purchase_info.date|date:"d/m/Y" }}
                        </p>
                    </div>

                    <a href="{% url 'purchase-info-update' purchase_info.pk %}">
                        <div class="max-w-fit border p-1.5 rounded-lg bg-amber-200">
                            <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    fill="none"
                                    viewBox="0 0 24 24"
                                    stroke-width="1.5"
                                    stroke="currentColor"
                                    class="size-5">
                                <path
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                        d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10"/>
                            </svg>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
